<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cuber.basic.mapper.CurrencyEntityMapper">
    <resultMap id="BaseResultMap" type="org.cuber.basic.dto.CurrencyEntity">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ALPHA_CODE" jdbcType="VARCHAR" property="alphaCode"/>
        <result column="NUMBER_CODE" jdbcType="VARCHAR" property="numberCode"/>
        <result column="MINOR_UNIT" jdbcType="SMALLINT" property="minorUnit"/>
        <result column="SYMBOL_CURRENCY" jdbcType="VARCHAR" property="symbolCurrency"/>
        <result column="I18N_KEY" jdbcType="VARCHAR" property="i18nKey"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="LOCALE_NAME" jdbcType="VARCHAR" property="localeName"/>
        <result column="ZH_NAME" jdbcType="VARCHAR" property="zhName"/>
        <result column="COUNTRY" jdbcType="VARCHAR" property="country"/>
        <result column="GRANT_4_SALE" jdbcType="VARCHAR" property="grant4Sale"/>
        <result column="GRANT_4_SETTLE" jdbcType="VARCHAR" property="grant4Settle"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="UPDATE_USER_ID" jdbcType="VARCHAR" property="updateUserId"/>
        <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId"/>
        <result column="UPDATE_DATETIME" jdbcType="TIMESTAMP" property="updateDatetime"/>
        <result column="CREATE_DATETIME" jdbcType="TIMESTAMP" property="createDatetime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, ALPHA_CODE, NUMBER_CODE, MINOR_UNIT, SYMBOL_CURRENCY, I18N_KEY, NAME, LOCALE_NAME, ZH_NAME, COUNTRY, GRANT_4_SALE,
        GRANT_4_SETTLE, STATUS, UPDATE_USER_ID, CREATE_USER_ID, UPDATE_DATETIME, CREATE_DATETIME
    </sql>

    <insert id="create" parameterType="org.cuber.basic.dto.CurrencyEntity">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select nextval('SEQ_COUNTRY_3166')
        </selectKey>
        insert into T_CURRENCY_4217 (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id, jdbcType = VARCHAR}, #{alphaCode, jdbcType = VARCHAR}, #{numberCode, jdbcType = VARCHAR},
        #{minorUnit, jdbcType = SMALLINT},#{symbolCurrency, jdbcType = VARCHAR},
        #{i18nKey, jdbcType = VARCHAR}, #{name, jdbcType = VARCHAR}, #{localeName, jdbcType = VARCHAR}, #{zhName, jdbcType = VARCHAR},
        #{country, jdbcType = VARCHAR}, #{grant4Sale, jdbcType = VARCHAR}, #{grant4Settle, jdbcType = VARCHAR},
        #{status, jdbcType = VARCHAR}, #{updateUserId, jdbcType = VARCHAR}, #{createUserId, jdbcType = VARCHAR},
        current_timestamp, current_timestamp
        )
    </insert>

    <select id="retrieveById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_CURRENCY_4217
        where
        id = #{id, jdbcType = VARCHAR}
    </select>

    <select id="retrievePage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_CURRENCY_4217
        <where>
            <if test="id != null">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
            <if test="alphaCode != null">
                and ALPHA_CODE = #{alphaCode,jdbcType=VARCHAR}
            </if>
            <if test="numberCode != null">
                and NUMBER_CODE = #{numberCode,jdbcType=VARCHAR}
            </if>
            <if test="minorUnit != null">
                and MINOR_UNIT = #{minorUnit,jdbcType=SMALLINT}
            </if>
            <if test="symbolCurrency != null">
                and SYMBOL_CURRENCY = #{symbolCurrency,jdbcType=VARCHAR}
            </if>
            <if test="i18nKey != null">
                and I18N_KEY = #{i18nKey,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and NAME = #{name,jdbcType=VARCHAR}
            </if>
            <if test="localName != null">
                and LOCALE_NAME = #{localName,jdbcType=VARCHAR}
            </if>
            <if test="zhName != null">
                and ZH_NAME = #{zhName,jdbcType=VARCHAR}
            </if>
            <if test="country != null">
                and COUNTRY = #{country,jdbcType=VARCHAR}
            </if>
            <if test="grant4Sale != null">
                and GRANT_4_SALE = #{grant4Sale,jdbcType=VARCHAR}
            </if>
            <if test="grant4Settle != null">
                and GRANT_4_SETTLE = #{grant4Settle,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and STATUS = #{status,jdbcType=VARCHAR}
            </if>
            <if test="updateUserId != null">
                and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null">
                and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
            </if>
            <if test="updateDatetime != null">
                and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="createDatetime != null">
                and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <update id="updateDynamic" parameterType="org.cuber.basic.dto.CurrencyEntity">
        update T_CURRENCY_4217
        <set>
            <if test="id != null">
                ID = #{id,jdbcType=VARCHAR},
            </if>
            <if test="alphaCode != null">
                ALPHA_CODE = #{alphaCode,jdbcType=VARCHAR},
            </if>
            <if test="numberCode != null">
                NUMBER_CODE = #{numberCode,jdbcType=VARCHAR},
            </if>
            <if test="minorUnit != null">
                MINOR_UNIT = #{minorUnit,jdbcType=SMALLINT},
            </if>
            <if test="symbolCurrency != null">
                SYMBOL_CURRENCY = #{symbolCurrency,jdbcType=VARCHAR},
            </if>
            <if test="i18nKey != null">
                I18N_KEY = #{i18nKey,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="localName != null">
                LOCALE_NAME = #{localName,jdbcType=VARCHAR},
            </if>
            <if test="zhName != null">
                ZH_NAME = #{zhName,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                COUNTRY = #{country,jdbcType=VARCHAR},
            </if>
            <if test="grant4Sale != null">
                GRANT_4_SALE = #{grant4Sale,jdbcType=VARCHAR},
            </if>
            <if test="grant4Settle != null">
                GRANT_4_SETTLE = #{grant4Settle,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
            </if>
            UPDATE_DATETIME = current_timestamp,
            CREATE_DATETIME = current_timestamp,
        </set>
        <where>
            id = #{id, jdbcType = VARCHAR}
        </where>
    </update>

    <update id="updateById" parameterType="org.cuber.basic.dto.CurrencyEntity">
        update T_CURRENCY_4217
        <set>
            ID = #{id,jdbcType=VARCHAR},
            ALPHA_CODE = #{alphaCode,jdbcType=VARCHAR},
            NUMBER_CODE = #{numberCode,jdbcType=VARCHAR},
            MINOR_UNIT = #{minorUnit,jdbcType=SMALLINT},
            SYMBOL_CURRENCY = #{symbolCurrency,jdbcType=VARCHAR},
            I18N_KEY = #{i18nKey,jdbcType=VARCHAR},
            NAME = #{name,jdbcType=VARCHAR},
            LOCALE_NAME = #{localName,jdbcType=VARCHAR},
            ZH_NAME = #{zhName,jdbcType=VARCHAR},
            COUNTRY = #{country,jdbcType=VARCHAR},
            GRANT_4_SALE = #{grant4Sale,jdbcType=VARCHAR},
            GRANT_4_SETTLE = #{grant4Settle,jdbcType=VARCHAR},
            STATUS = #{status,jdbcType=VARCHAR},
            UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
            CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
            UPDATE_DATETIME = current_timestamp,
            CREATE_DATETIME = current_timestamp,
        </set>
        <where>
            id = #{id, jdbcType = VARCHAR}
        </where>
    </update>

    <select id="retrieveAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_CURRENCY_4217
    </select>

    <delete id="deleteById">
        delete from T_CURRENCY_4217
        where
        id = #{id, jdbcType = VARCHAR}
    </delete>

    <select id="retrieveByUnique" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_CURRENCY_4217
        <where>
            <if test="alphaCode != null">
                AND    ALPHA_CODE = #{alphaCode,jdbcType=VARCHAR}
            </if>
            <if test="numberCode != null">
                AND    NUMBER_CODE = #{numberCode,jdbcType=VARCHAR}
            </if>
            <if test="alphaCode == null and numberCode == null">
                AND    1 != 1
            </if>
            and status = '1'
        </where>
    </select>

</mapper>